    <div id="mainholder" class="clearfix">
        <h1>Contact Us </h1>
        <p>New Castle County School Employees Federal Credit Union <br />
            113 West 6th Street <br />
            PO Box 232 <br />
            New Castle, DE 19720 <br />
        <br />
        <br />
            Phone (302) 613-5330 <br />
            Toll Free (866) 999-0579 <br />
            Fax (302) 613-5350 <br />
            PAL (302) 613-5340 <br />
            After hours VISA Credit Card Lost/Stolen &ndash; 1-866-437-4959 <br />
            After hours VISA Debit or STAR ATM  - 1-800-523-4175 <br />
        </p>
        <p> <strong>Staff: </strong><br />
            <br />
            <%= mail_to "dorothyk@nccsefcu.org", "Dot Kenney" %> x 101 &ndash; Teller <br />
            <br />
            <%= mail_to "jeanm@nccsefcu.org", "Jean Moore" %> x 103 &ndash; Teller <br />
            <br />
            <%= mail_to "stephaniem@nccsefcu.org", "Stephanie Mitchell" %> x 106 &ndash; Member Service </p>
        <p> <%= mail_to "sandrat@nccsefcu.org", "Sandra Toppin" %> x 112 &ndash; Loan Officer. Death and Disability Claims<br />
            <br />
            <%= mail_to "lorim@nccsefcu.org", "Lori Mays" %> x 114 &ndash; Marketing<br />
            <br />
            <%= mail_to "barbaraa@nccsefcu.org", "Barbara Anderson" %> x 111 &ndash; Loan Officer, Visa Credit Cards <br />
            <br />
            <%= mail_to "lauras@nccsefcu.org", "Laura Saxfield" %> x 110 &ndash; Resolution Specialist</p>
        <p> <%= mail_to "terrik@nccsefcu.org", "Terri Keene" %> x 117-CEO<br />
            <br />
            <%= mail_to "colinm@nccsefcu.org", "Colin MacArthur" %> x 118 &ndash; Operations<br />
            <br />
            <%= mail_to "kathleend@nccsefcu.org", "Katie DiVirgilio" %><br />
            <br />
            <%= mail_to "monicad@nccsefcu.org", "Monica Dudley" %> x 108 &ndash; Member Service<br />
            <br />
            <%= mail_to "natef@nccsefcu.org", "Nate Folwell" %> x 109 &ndash; Accounting</p>
                Receptionist  x 100 
    </div>
</div>