    <div id="mainholder" class="clearfix">
        <h1>Helpful&nbsp;Links</h1>
        <p>
            <%= link_to image_tag("logo-liberty-mutual.gif", :alt=>""), "http://www.libertymutual.com/kellydavisson", :rel=>"confirm external" %><br />
            Kelly Davisson<br />
            Sales Representative<br />
            Auto - Home - Renters -  Life<br />
            131 Continental Drive,  Suite 108<br />
            Newark, DE 19713<br />
            P: 302-369-9904 ext  53007<br />
            F: 302-369-6184<br />
            <%= mail_to "Kelly.Davisson@libertymutual.com", "Kelly.Davisson@libertymutual.com" %><br />
            <%= link_to "http://www.libertymutual.com/kellydavisson", "http://www.libertymutual.com/kellydavisson", :rel => "external" %><br />
            Licensed in DE, PA, NJ,  MD
        </p>
        <p>
            <%= link_to image_tag("Koziol78514.gif", :alt=>""), "http://nwinsurance.nationwide.com/nwinsurance/ad_disclaimer.asp?WT.mc_id=AMBNB070014541&amp;strVendor=New+Castlle+County+School+Employees+Credit+Union&amp;strAgentPage=/AutoQuote/onlinequote.asp&amp;OfficeId=22767&amp;strPDSnumber=070014541&amp;AgentName=John 
    J. Koziol" %><br />
            <br />
            <%= link_to "Horace Mann Insurance", "https://agents.horacemann.com/kevinlammers" %><br />
            <br />
        </p>
        <%= image_tag "links.jpg", :class=>"fright", :alt=>"" %>        
        <%= link_to image_tag("links_carfax.gif", :alt=>""), "http://www.carfax.com", :rel=>"confirm external" %><br />
        <br />
        Don't buy a used car without CARFAX!<br />
        Order a CARFAX Vehicle History Report - your best protection against buying a
        used car with costly, hidden problems.<br />
        CARFAX searches its nationwide database and provides a detailed report in seconds.
        While a CARFAX Vehicle History Report can't guarantee the future, it can uncover
        the hidden past of nearly any vehicle.<br />
        <br />
        <br />
        <br />
        <%= link_to image_tag("links_enterprise.jpg", :alt=>""), "http://www.enterprisecarsales.com", :rel=>"confirm external" %> <br />
        <br />
        Enterprise Car Sales began selling cars more than 40 years ago. A simple, yet
        successful principle guided our efforts - take the high road. Above all, it means
        being aboveboard. From there, it continues with a great selection of automobiles
        plus an unmatched set of features.<br />
        <br />
        We call it The Perfect Used Car Package: <br />
        <br />
        * Haggle-free Pricing <br />
        * Large selection of Quality vehicles <br />
        * Trade-ins welcome <br />
        * 7-day/1000-mile repurchase policy <br />
        * 12-month/12,000-mile limited powertrain warranty <br />
        * AAA vehicle purchase inspection <br />
        * 12-month/unlimited mileage roadside assistance <br />
        <br />
        <br />
        <br />
        <%= link_to image_tag("links_mvcp.gif", :alt=>""), "http://www.mvcp.com", :rel=>"confirm external" %> <br />
        <br />
        Motor Vehicle Certification Program <br />
        <br />
        Get information on a competitive dealer to get the best price for your New or
        Used Car then finance with the Credit Union. Save money, time and effort by having
        pre-negotiated prices for your dream vehicle at your nearest MVCP dealer.<br />
        <br />
        4 Easy Steps <br />
        <ol>
            <li>Call NCCSEFCU to get Pre-Approved for Loan</li>
            <li>Call MVCP 1-800-345-6827 for nearest dealer</li>
            <li>Visit MVCP Dealer to pick out your car</li>
            <li>Call MVCP back</li>
        </ol>
        <br />
        <br />
        <br />
        <%= link_to image_tag("NADA_Logo_150x71.gif", :alt=>"NADA logo"), "http://www.nadaguides.com/home.aspx?l=1&amp;w=28&amp;p=0&amp;f=5000&amp;custID=10485" %><br />
        <br />
        N.A.D.A. Guides<br />
        <br />
        Visit N.A.D.A Vehicle Appraisal for New Car Prices, Used Car Values, New Car
        Reviews and Car Buying guides.<br />
        <br />
        <br />
        <strong><%= link_to "Delaware State Employees - Pay stub", "https://phrstrapd.spo.state.de.us" %></strong>
        <p>&nbsp;</p>
    </div>
</div>