    <div id="mainholder" class="clearfix">
        <h1>Newsletter</h1>
        <%= image_tag "newsletter.jpg", :class=>"fright", :alt=>"" %>
        View the latest Newsletter.
        Newsletters come out in January, April, July and October each year. 
        <ul class="spaced">
            <li><%= link_to "October 2010 Newsletter", "pdf/oct2010.pdf", :rel=>"external" %>&nbsp;&nbsp;
            <span class="red">NEW!!</span></li>
            <li><%= link_to "June 2010 Newsletter", "pdf/june2010.pdf", :rel=>"external" %></li>
            <li><%= link_to "January 2010 Newsletter", "pdf/january2010.pdf", :rel=>"external" %></li>
            <li><%= link_to "October 2009 Newsletter", "pdf/october09.pdf", :rel=>"external" %></li>
            <li><%= link_to "July 2009 Newsletter", "pdf/July09.pdf", :rel=>"external" %></li>
            <li><%= link_to "April 2009 Newsletter", "pdf/April09.pdf", :rel=>"external" %></li>
            <li><%= link_to "January 2009 Newsletter", "pdf/Jan09.pdf", :rel=>"external" %></li>
            <li><%= link_to "September 2008 Newsletter", "pdf/Sept08.pdf", :rel=>"external" %></li>
            <li><%= link_to "July 2008 Newsletter", "pdf/July08.pdf", :rel=>"external" %></li>
            <li><%= link_to "April 2008 Newsletter", "pdf/April2008.pdf", :rel=>"external" %></li>
            <li><%= link_to "January 2008 Newsletter", "pdf/January2008.pdf", :rel=>"external" %></li>
            <li><%= link_to "October 2007 Newsletter", "pdf/October2007.pdf", :rel=>"external" %></li>
            <li><%= link_to "July 2007 Newsletter", "pdf/July2007.pdf", :rel=>"external" %></li>
        </ul>
    </div>
</div>