<div id="footer">          
          <p><strong>New Castle County School Employees Federal
              Credit Union</strong><br />
              113 West 6th Street P.O. Box 232<%= image_tag "dot.gif", :alt=>"dot" %>
              New Castle, DE 19720<br />
              Phone: 302-613-5330 <%= image_tag "dot.gif", :alt=>"dot" %>
              Toll Free: 866-999-0579 <%= image_tag "dot.gif", :alt=>"dot" %>
              Fax: 302-613-5350</p>
          <p>Site Design: <%= link_to image_tag("shareone.gif", :alt=>"Share One"), "http://www.shareone.com", :rel=>"confirm external" %></p>
          <table>
              <tr>
                  <td><%= link_to image_tag("ncua.gif", :alt=>"NCUA"), "http://www.ncua.gov", :rel=>"confirm external" %> <br />
                      Your savings federally insured to at least $250,000
                      and backed by the full faith and credit of the
                      United States Government.<br /></td>
                  <td><%= link_to image_tag("visa1_a_SM.jpg", :alt=>"Visa Logo"), "http://www.visa.com/verified", :rel=>"confirm external" %>
                  </td>
                  <td><%= image_tag "SMstarlogo.jpg", :alt=>"SMStar Logo" %></td>
                  <td><%= image_tag "NewEqualOpLenderSM.jpg", :alt=>"Equal Housing Lender Logo" %></td>
              </tr>
          </table>
		</div>
	</div>